{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->


{% block content %}
                
    <main class="content">



            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                <div class="d-block mb-4 mb-md-0">
                    <h2 class="h4">Todos os imoveis</h2>
                </div>
            </div>

            <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Endereço</th>
                            <th>Valor Venda</th>
                            <th>Valor Comissão</th>
                            <th>Status</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    {% for apt in query %}
                    <tbody>

                        <tr>
                            <td>

                                    {{ apt.ID_IMOVEL }}
                            </td>
                            <td>
                                <span class="font-weight-normal">{{ apt.NOME }}</span>
                            </td>
                            <td><span class="font-weight-normal">{{ apt.ENDERECO }}</span></td>
                            <td><span class="font-weight-normal">{{ apt.VALOR_VENDA }}</span></td>
                            <td><span class="font-weight-bold">{{ apt.VALOR_COMIS }}</span></td>
                            <td><span class="font-weight-bold">{{ apt.STATUS }}</span></td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        {% if apt.STATUS == "Livre" %}
                                        <form method="POST" class="dropdown-item" action="{{ url_for('user.buy', apt_id=apt.ID_IMOVEL) }}"><span class="fas fa-money-check"></span><input class="btn" type="submit" name="buy" value="Comprar"></form>
                                        {% else %}
                                        <span class="fas fa-ban"></span><input class="btn" type="submit" name="blocked" value="Reservado">
                                        {% endif %}

                                        {##}
{#                                        <form method="POST" class="dropdown-item" action="{{ url_for('raffle.edit', rifa_id=raffle.ID_RIFA) }}"><span class="fas fa-edit mr-2"></span><input class="btn" type="submit" name="edit" value="Editar"></form>#}
{#                                        <form method="POST" class="dropdown-item text-danger" action="{{ url_for('raffle.delete', rifa_id=raffle.ID_RIFA) }}"><span class="fas fa-trash-alt mr-2"></span><input class="btn" type="submit" name="delete" value="Remover"></form>#}
{##}
{##}
                                    </div>
                                </div>
                            </td>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
                <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
                    <nav aria-label="Page navigation example">

                    </nav>
            </div>
            </div>
        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
