{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->


{% block content %}
                
    <main class="content">



            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                <div class="d-block mb-4 mb-md-0">
                    <h2 class="h4">Todos os clientes</h2>
                </div>
            </div>

            <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>E-Mail</th>
                            <th>Telefone</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    {% for client in query %}
                    <tbody>

                        <tr>
                            <td>

                                    {{ client.ID_CLIENTE }}
                            </td>
                            <td>
                                <span class="font-weight-normal">{{ client.NOME }}</span>
                            </td>
                            <td><span class="font-weight-normal">{{ client.CPF }}</span></td>
                            <td><span class="font-weight-normal">{{ client.EMAIL }}</span></td>
                            <td><span class="font-weight-bold">{{ client.TELEFONE }}</span></td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <form method="POST" class="dropdown-item" action="{{ url_for('user.view', client_id=client.ID_CLIENTE) }}"><span class="fas fa-eye mr-2"></span><input class="btn" type="submit" name="view" value="Ver detalhes"></form>
                                        <form method="POST" class="dropdown-item" action="{{ url_for('user.edit', client_id=client.ID_CLIENTE) }}"><span class="fas fa-edit mr-2"></span><input class="btn" type="submit" name="edit" value="Editar"></form>
                                        <form method="POST" class="dropdown-item text-danger" action="{{ url_for('user.delete', client_id=client.ID_CLIENTE) }}"><span class="fas fa-trash-alt mr-2"></span><input class="btn" type="submit" name="delete" value="Remover"></form>


                                    </div>
                                </div>
                            </td>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
                <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
                    <nav aria-label="Page navigation example">

                    </nav>

                </div>
            </div>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
