{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} bg-soft {% endblock body_class %}

{% block content %}

    <main>

        <!-- Section -->
        <section class="vh-lg-100 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image" data-background="/static/assets/img/illustrations/signin.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">

                        <div class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                            <img src="static/assets/img/brand/strategisistemas_logo.png" width="100" height="100" align="left">
                                                          <h1 class="mb-0 h3">
                                    <a target="_blank"
                                       href="https://strategi.digital">in<b>Korpore</b></a>
                                </h1>
                                <h1 class="mb-0 h5">
                                    Sistema de Gestão para Construtoras e Incorporadoras
                                </h1>
                                <br />
                                <p>
                                    {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        <div class="notification is-danger">
                                    {{ messages[0] }}
                                        </div>
                                    {% else %}
                                        Informe suas credenciais
                                    {% endif %}
                                    {% endwith %}
                                </p>    
                            </div>

                            <form method="post" action="" class="mt-4">
                                
                                {{ form.hidden_tag() }}

                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="user">Usuário</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><span class="fas fa-user-circle"></span></span>
                                        {{ form.usuario(placeholder="Digite aqui seu nome de usuário", class="form-control", id="usuario") }}
                                    </div>  
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="password">Senha</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-unlock-alt"></span></span>
                                            {{ form.senha(placeholder="Digite aqui sua senha", class="form-control", id="senha") }}
                                        </div>  
                                    </div>
                                    <!-- End of Form -->

                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                                            <label class="form-check-label" for="defaultCheck5">
                                              Lembre-me
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <button type="submit" name="login" class="button is-block is-info btn-primary">Acessar</button>
                            </form>

                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                    &copy; <a  href="https://themesberg.com" target="_blank">Themesberg</a>
                                    - coded by <a target="_blank" href="https://strategi.digital">Strategi Sistemas</a>
                                    <br>

                                </span>
                                <img src="static/assets/img/brand/strategisistemas.jpg" width="30%" height="30%">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
