{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">


        <div class="row">
            <div class="col-12 col-xl-8">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <h2 class="h5 mb-4">Informações do Pedido</h2>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div>
                                    <label for="pag">Pagamento:</label>
                                    <div class="input-group">
                                    {{ varpag }}
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div>
                                    <label for="vend">Vendedor:</label>
                                    <div class="input-group">
                                    {{ nome_imv }}
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="nome">Nome do Cliente:</label>
                                    <div class="input-group">
                                    {{ varcli }}
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="valor_unid">Imovel:</label>
                                    <div class="input-group">
                                    {{ nome_vend }}
                                        </div>
                                </div>
                            </div>
                        </div>


                            </div>
                </div>
            </div>


        {% include 'includes/footer.html' %}
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
