{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">


        <div class="row">
            <div class="col-12 col-xl-8">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <h2 class="h5 mb-4">Informações</h2>
                        {% if client %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div>
                                    <label for="nome">Nome:</label>
                                    <div class="input-group">
                                    {{ client.NOME }}
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div>
                                    <label for="cpf">CPF:</label>
                                    <div class="input-group">
                                    {{ client.CPF }}
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 mb-3">
                                    <label for="email">E-Mail:</label>
                                <div class="input-group">
                                    {{ client.EMAIL }}
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                    <label for="telefone">Telefone:</label>
                                <div class="input-group">
                                    {{ client.TELEFONE }}
                                </div>
                            </div>
                        </div>


                            </div>
                </div>
            </div>
            {% endif %}

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
